<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  </head>

  <body ng-app="directoryApp" >
    <div ng-controller="ListingsController">
      <nav class="navbar navbar-default nabar-fixed-top">
        <div class= "container-fluid" >
          <h1 class="nav-brand">UF Directory App</h1>
            <form class="navbar-form navbar-left" role= search>
                <div class="input-group" id="searchBar">
                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                  <input type="text" class="form-control" placeholder="Search" ng-model="query">
                 </div>
            </form>
        </div>
      </nav>
    <div class="container">
    <div class="row" >
      <div class="col-md-5">

        <div class="tableWrapper">
          <table class="table table-striped table-hover">
            <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
            </tr>
            <tr ng-repeat="listing in listings | orderBy:'code' | filter: query track by $index"  ng-click = "showDetails(listing)" >
                <td>{{listing.code}}</td>
                <td>{{listing.name}}</td>
                <td>
                  <button class="btn btn-alt" ng-click="deleteListing(listing)" >Delete</button>
                </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-5">
        <div class="jumbotron">
          <div ng-hide = "defaultMessage">
            <h3>Click a listing to view detailed information.</h3>
          </div>
          <div ng-hide = "details">
          <h2>Detailed Information</h2>

             <div class="tableWrapper"  >
               <table class="table table-striped table-hover"  >
                 <tr>
                   <th>Code</th>
                   <th>Building Name</th>
                   <th></th>
                 </tr>
                 <tr>
                   <td>{{code}}</td>
                   <td>{{building}}</td>
                 </tr>
                </table>

                 <table class="table table-striped table-hover">
                   <tr>
                     <th>Coordinates</th>
                   </tr>
                   <td>{{coords}}</td>
                 </table>

                 <table class="table table-striped table-hover">
                   <tr>
                     <th>Address</th>
                   </tr>
                   <td>{{address}}</td>
                 </table>
               </div>
            </div>
          <div >
            <div ng-hide = "showAddListing">
              <h4 class="newListingTitle">New Listing:</h4>
                <form class = "form-horizontal" role = "form">
                  <table class="addListingTable">
                    <tr>
                      <th>Code:</th>
                    </tr>
                    <td><input type="text" class = "form-enterCode" name = "code" ng-model="entry.code"></td>
                    <tr>
                      <th>Building Name:</th>
                    </tr>
                    <td><input type="text" class = "form-enterName" name = "name" ng-model="entry.name"></td>
                    <tr>
                      <th>Longitude:</th>
                      <th>Latitude:</th>
                    </tr>
                    <td><input type="text" class = "form-enterLongitude" name = "longitude" ng-model="entry.coordinates.longitude"></td>
                    <td><input type="text" class = "form-enterLatitude" name = "latitude" ng-model="entry.coordinates.latitude"></td>
                    <tr>
                      <th>Address:</th>
                    </tr>
                    <td><input type="text" class = "form-enterAddress" name = "address" ng-model="entry.address"></td>
                  </table>
                </form>
                <button ng-click="addListing(entry)" class="btn btn-alt">Add Listing</button>
              </div>
              <button ng-hide="addListButton" ng-click="addButton()" class="btn btn-alt">New Listing</button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>
