#searchBar {
  margin: 15px 10px;
}

.nav-brand {
  float: center;
  padding-left: 30px;
}

.navbar-form {
  align-self: auto;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}
.container{
  display: block;
}
.row{
  background-color: #FFFFF0; 
}
