#searchBar {
  margin: 15px 10px;
}
body {
    background-color: orange;
}
.nav-brand {
  float: center;
  padding-left: 30px;
  color : white;
}
.navbar-form {
  align-self: auto;
}
.tableWrapper {
  max-height: 600px;
  overflow: auto;
}
.container{
  display: block;
}
.navbar{
  background-color: blue;
}
.tableWrapper{
  background-color: #D0D0D0  ;
}
